<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Page</title>
     Include Bootstrap CSS for styling  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
    <section>
        <div class="container p-3">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        
                        <div class="card-header text-center fs-4">Register Page</div>

                        <th:block th:if="${session.msg}">
                            <p class="text-center text-success fs-4" th:text="${session.msg}"></p>
                            <th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                    <div class="card-body"> 
                      
                       User Registration Form       
                            <form action="/saveUser" method="post">
                                <h5>User Registration</h5>
                                <div class="mb-3">
                                    <label for="name">Enter Full Name</label>
                                    <input type="text" id="name" name="name" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email">Enter Email</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="mobileNo">Enter Mobile Number</label>
                                    <input type="text" id="mobileNo" name="mobileNo" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password">Enter Password</label>
                                    <input type="password" id="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-primary col-md-12">Register as User  </button>
                            </form>

					 Admin Registration Form     
                  	   <form action="/saveAdmin" method="post">
                                <h5>Admin Registration</h5>
                                <div class="mb-3">
                                    <label for="adminName">Enter Full Name</label>
                                    <input type="text" id="adminName" name="name" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="adminEmail">Enter Email</label>
                                    <input type="email" id="adminEmail" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="adminMobileNo">Enter Mobile Number</label>
                                    <input type="text" id="adminMobileNo" name="mobileNo" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="adminPassword">Enter Password</label>
                                    <input type="password" id="adminPassword" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-danger col-md-12">Register as Admin</button>
                            </form>

                            <hr>
			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     Include Bootstrap JS for any potential JavaScript needs  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>